@font-face {
  font-family: 'pix';
  font-display: fallback;
  src: url('./PixelDigivolve-mOm9.ttf')
}

@font-face {
  font-family: 'pix-i';
  font-display: fallback;
  src: url('./PixelDigivolveItalic-dV8R.ttf')
}

html,body,pre,input{font-family:'pix' !important;}
